<div id="content">
	<div class="presell">
		<div class="ui-msg ui-page-tip presell-ui-msg">
			<div class="ui-msg-con ui-msg-error">
				#if($!errors)
					#foreach($msg in $!errors)
						$msg
						<br>
					#end
				#end
				#if($!errMsg)
					$!errMsg
				#end
				<s class="ui-msg-icon"></s>
			</div>
		</div>
	</div>
</div>