<title>清风楼_书友最值得收藏的网络小说阅读网</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="keywords" content="清风楼,网络小说,小说阅读网,小说" />
<meta name="description" content="清风楼是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="/css/aa.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bb.js"></script>
</head>
<body>
	<div id="wrapper">
		<script>login();</script>
		<div class="header">
			<div class="header_logo">
				<a href="/">清风楼</a>
			</div>
		</div>
		$!control.setTemplate("menu.vm")

<div id="main">
<div id="hotcontent"><div class="ll">
	
				#foreach( $novelBasicDo in $strongRecommend) 
      				<div class="item">
      				<div class="image"><a href="/n.htm?nid=$!{novelBasicDo.nid}"><img src="$!novelBasicDo.picturePath" alt="$novelBasicDo.title"  width="120" height="150" /></a></div>
        					<dl>
        					           <dt><span>$!novelBasicDo.author</span><a href="/n.htm?nid=$!{novelBasicDo.nid}">$novelBasicDo.title</a></dt>
           <dd>　
           $!novelBasicDo.introduce
           </dd>
        </dl>
        <div class="clear"></div></div>
				#end
	</div>
</div>

 

<div class="novelslist">


			#foreach( $oneEntry in $pidRecommend.entrySet())  
<div class="content">
  <h2>oneEntry.key</h2>
  
<div class="top">
<div class="image"><img src="http://www.biquge.com/image/4/4606/4606s.jpg" alt="大主宰"  width="67" height="82" /></div>
<dl><dt><a href="http://www.biquge.com/4_4606/">大主宰</a></dt><dd>    大千世界，位面交汇，万族林立，群雄荟萃，一位位来自下位面的天之至尊，在这无尽世界，演绎着令人向...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="http://www.biquge.com/5_5249/">完美世界</a>/辰东</li><li><a href="http://www.biquge.com/0_171/">傲世九重天</a>/风凌天下</li><li><a href="http://www.biquge.com/0_131/">武神空间</a>/傅啸尘</li><li><a href="http://www.biquge.com/0_2/">绝世唐门</a>/唐家三少</li><li><a href="http://www.biquge.com/4_4361/">九星天辰诀</a>/发飙的蜗牛</li><li><a href="http://www.biquge.com/0_266/">武极天下</a>/蚕茧里的牛</li><li><a href="http://www.biquge.com/0_173/">武炼巅峰</a>/莫默</li><li><a href="http://www.biquge.com/4_4900/">星河大帝</a>/梦入神机</li><li><a href="http://www.biquge.com/0_188/">剑道独神</a>/六道沉沦</li><li><a href="http://www.biquge.com/0_148/">剑道独尊</a>/剑游太虚</li><li><a href="http://www.biquge.com/4_4388/">奥术神座</a>/爱潜水的乌贼</li><li><a href="http://www.biquge.com/4_4386/">人皇</a>/十步行</li>
</ul>
  </div>
				#end


<div id="main">

<div class="novellist">
<h2>最新入库</h2>
<ul>
#foreach( $novelBasicDo in $alldos) 
<li><a href="/n.htm?nid=$!{novelBasicDo.nid}"> $novelBasicDo.title</a>(完)/$!novelBasicDo.author</li>
	#end
</ul></div>
<div class="clear"></div>

		<div class="footer">
			<div class="footer_link"></div>
			<div class="footer_cont">
				<script>footer();</script>
			</div>
		</div>
	</div>
</body>