<title>书中书_书友最值得收藏的网络小说阅读网</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="keywords" content="书中书,网络小说,小说阅读网,小说" />
<meta name="description" content="书中书是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="/css/aa.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bb.js"></script>
</head>
<body>
		$!control.setTemplate("menu.vm")

<div id="main">
<div id="hotcontent"><div class="ll">
	
				#foreach( $novelBasicDo in $strongRecommend) 
      				<div class="item">
      				<div class="image"><a href="/n.htm?nid=$!{novelBasicDo.nid}"><img src="$!novelBasicDo.picturePath" alt="$novelBasicDo.title"  width="120" height="150" /></a></div>
        					<dl>
        					           <dt><span>$!novelBasicDo.author</span><a href="/n.htm?nid=$!{novelBasicDo.nid}">$novelBasicDo.title</a></dt>
           <dd>　
           $!novelBasicDo.introduce
           </dd>
        </dl>
        <div class="clear"></div></div>
				#end
	</div>
</div>
</div>

 

	#set ($i=0)
	#foreach( $oneEntry in $pidRecommend.entrySet())
		#set($i=$i+1)
		#if($i%3==1) <div class="novelslist"> #end
		#if($i%3==0)
			<div class="content border">
		#else
		<div class="content">
		#end
	
          <h2>$!oneEntry.key</h2>
			#if($!oneEntry.value && $!oneEntry.value.size()>0)
                	#set ($onebasic = $!oneEntry.value.get(0))
                <div class="top">
                <div class="image"><img src="$!onebasic.picturePath" alt="$!onebasic.title"  width="67" height="82" /></div>
                <dl><dt><a href="/n.htm?nid=$!{onebasic.nid}">$!onebasic.title</a></dt><dd>$!onebasic.introduce</dd></dl>
                <div class="clear"></div></div>
                <ul>
            			#foreach( $basicDo in $!oneEntry.value)
        					#if ($basicDo != $onebasic)
        					<li><a href="/n.htm?nid=$!{basicDo.nid}">$!basicDo.title</a>/$basicDo.author</li>
        					 #end
            		   #end
        		</ul>
                  #end
          </div>
		  #if($i%3==0) <div class="clear"></div> </div> #end
	#end
 </div>

<div id="main">

<div class="novellist">
<h2>最新入库</h2>
<ul>
#foreach( $novelBasicDo in $newestDos) 
<li><a href="/n.htm?nid=$!{novelBasicDo.nid}"> $novelBasicDo.title</a>(完)/$!novelBasicDo.author</li>
	#end
</ul></div>
<div class="clear"></div>

		$!control.setTemplate("footer.vm")
	</div>
</body>