<head>
<title>$!{keyword} 的搜索结果_书中书</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link rel="stylesheet" type="text/css" href="/css/aa.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bb.js"></script>
</head>
<body>
$!control.setTemplate("menu.vm")
		</div>

<div id="main">
<div class="novellist">
<h2>$!{keyword} 的搜索结果如下</h2>
<ul>
#foreach( $novelBasicDo in $novelDos) 
<li><a href="$!{novelBasicDo.targetLink}"> $novelBasicDo.title</a>#if($novelBasicDo.isFinished())(完)#end/$!novelBasicDo.author</li>
	#end
</ul></div>
<div class="clear"></div>

		$!control.setTemplate("footer.vm")
	</div>
</body>
