<div id="wrapper">
		<script>login();</script>
		<div class="header">
			<div class="header_search">
				<a href="/"><img src="/css/logon.gif" alt="书中书" width="140" height="70"></a>
			</div>
			<script>search_panel();</script>
		</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/q.htm">全本小说</a></li>
				<li><a href="/l.htm?type=2">玄幻小说</a></li>
				<li><a href="/l.htm?type=1">修真小说</a></li>
				<li><a href="/l.htm?type=3">都市小说</a></li>
				<li><a href="/l.htm?type=4">穿越小说</a></li>
				<li><a href="/l.htm?type=5">网游小说</a></li>
				<li><a href="/l.htm?type=6">科幻小说</a></li>
				<li><a href="/a.htm">全部小说</a></li>
			</ul>
		</div>