<div id="wrapper">
		<script>login();</script>
		<div class="header">
			<div class="header_search">
				<a href="/"><img src="/css/logon.gif" alt="书中书" width="140" height="70"></a>
			</div>
			<script>search_panel();</script>
		</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/q.html">全本小说</a></li>
				<li><a href="/l2.html">玄幻小说</a></li>
				<li><a href="/l1.html">修真小说</a></li>
				<li><a href="/l3.html">都市小说</a></li>
				<li><a href="/l4.html">穿越小说</a></li>
				<li><a href="/l5.html">网游小说</a></li>
				<li><a href="/l6.html">科幻小说</a></li>
				<li><a href="/a.html">全部小说</a></li>
			</ul>
		</div>